a {
  color: #ff00ff;
}
ul.vertical {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 250px;
  background-color: #dddddd;
}

.vertical li a {
  display: block;
  color: #000000;
  padding: 8px 16px;
  text-decoration: none;
}

.vertical li a:hover {
  background-color: #333333;
  color: #ffffff;
}

ul.horizontal {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  top: 0;
  position: fixed;
  width: 100%;
}

.horizontal li {
  float: left;
}

.horizontal li a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.horizontal li a:hover {
  background-color: #111111;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: #333333;
  width: 100%;
}

